@import "tailwindcss";
@import 'tailwind-scrollbar-hide/v4';

:root {
    background-color: #131520
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transform: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo:react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}